In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("training_solutions_rev1.csv")
df.head()

,GalaxyID,Class1.1,Class1.2,Class1.3,Class2.1,Class2.2,Class3.1,Class3.2,Class4.1,Class4.2,...,Class9.3,Class10.1,Class10.2,Class10.3,Class11.1,Class11.2,Class11.3,Class11.4,Class11.5,Class11.6
0,100008,0.383147,0.616853,0.000000,0.000000,0.616853,0.038452,0.578401,0.418398,0.198455,...,0.000000,0.279952,0.138445,0.000000,0.000000,0.092886,0.0,0.0,0.0,0.325512
1,100023,0.327001,0.663777,0.009222,0.031178,0.632599,0.467370,0.165229,0.591328,0.041271,...,0.018764,0.000000,0.131378,0.459950,0.000000,0.591328,0.0,0.0,0.0,0.000000
2,100053,0.765717,0.177352,0.056931,0.000000,0.177352,0.000000,0.177352,0.000000,0.177352,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
3,100078,0.693377,0.238564,0.068059,0.000000,0.238564,0.109493,0.129071,0.189098,0.049466,...,0.000000,0.094549,0.000000,0.094549,0.189098,0.000000,0.0,0.0,0.0,0.000000
4,100090,0.933839,0.000000,0.066161,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000

In [ ]:
df = df[['GalaxyID', 'Class1.1', 'Class1.2', 'Class1.3', 'Class7.1', 'Class7.2', 'Class7.3', 'Class2.1', 'Class2.2', 'Class4.1', 'Class4.2']]

In [ ]:
df.head()

,GalaxyID,Class1.1,Class1.2,Class1.3,Class7.1,Class7.2,Class7.3,Class2.1,Class2.2,Class4.1,Class4.2
0,100008,0.383147,0.616853,0.000000,0.201463,0.181684,0.000000,0.000000,0.616853,0.418398,0.198455
1,100023,0.327001,0.663777,0.009222,0.000000,0.135082,0.191919,0.031178,0.632599,0.591328,0.041271
2,100053,0.765717,0.177352,0.056931,0.000000,0.741864,0.023853,0.000000,0.177352,0.000000,0.177352
3,100078,0.693377,0.238564,0.068059,0.408599,0.284778,0.000000,0.000000,0.238564,0.189098,0.049466
4,100090,0.933839,0.000000,0.066161,0.494587,0.439252,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
len(df)

61578

In [ ]:
df_completelysmooth = df[(df['Class1.1'] >= 0.469) & (df['Class7.1'] >= 0.50)]
df_completelysmooth['class'] = 'completelysmooth'
len(df_completelysmooth)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

8436

In [ ]:
df_inbetweensmooth = df[(df['Class1.1'] >= 0.469) & (df['Class7.2'] >= 0.50)]
df_inbetweensmooth['class'] = 'inbetweensmooth'
len(df_inbetweensmooth)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

8069

In [ ]:
df_cigarsmooth = df[(df['Class1.1'] >= 0.469) & (df['Class7.3'] >= 0.50)]
df_cigarsmooth['class'] = 'cigarsmooth'
len(df_cigarsmooth)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

579

In [ ]:
df_edgeon = df[(df['Class1.2'] >= 0.430) & (df['Class2.1'] >= 0.602)]
df_edgeon['class'] = 'edgeon'
len(df_edgeon)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

3903

In [ ]:
df_spiral = df[(df['Class1.2'] >= 0.430) & (df['Class2.2'] >= 0.715) & (df['Class4.1'] >= 0.619)]
df_spiral['class'] = 'spiral'
len(df_spiral)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

7806

In [ ]:
df_final = pd.concat([df_completelysmooth, df_inbetweensmooth, df_cigarsmooth, df_edgeon, df_spiral]).reset_index(drop=True)
df_final.head()

,GalaxyID,Class1.1,Class1.2,Class1.3,Class7.1,Class7.2,Class7.3,Class2.1,Class2.2,Class4.1,Class4.2,class
0,100428,0.715291,0.259587,0.025122,0.562277,0.153014,0.0,0.0,0.259587,0.000000,0.259587,completelysmooth
1,100434,0.748000,0.214000,0.038000,0.561000,0.187000,0.0,0.0,0.214000,0.000000,0.214000,completelysmooth
2,100571,0.713051,0.158890,0.128059,0.642763,0.070288,0.0,0.0,0.158890,0.000000,0.158890,completelysmooth
3,100672,0.931725,0.036703,0.031572,0.708274,0.223451,0.0,0.0,0.036703,0.000000,0.036703,completelysmooth
4,100727,0.816171,0.156441,0.027388,0.766569,0.049602,0.0,0.0,0.156441,0.135761,0.020680,completelysmooth

In [ ]:
df_final.describe().drop('GalaxyID', axis=1)

,Class1.1,Class1.2,Class1.3,Class7.1,Class7.2,Class7.3,Class2.1,Class2.2,Class4.1,Class4.2
count,28793.000000,28793.000000,28793.000000,28793.000000,28793.000000,28793.000000,28793.000000,28793.000000,28793.000000,28793.000000
mean,0.492531,0.482579,0.024890,0.227290,0.223813,0.041428,0.124519,0.358060,0.248801,0.109259
std,0.349196,0.363552,0.032195,0.298797,0.274122,0.102731,0.268913,0.353824,0.366642,0.102260
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.092870,0.155751,0.000000,0.000000,0.012677,0.000000,0.000000,0.084750,0.000000,0.021594
50%,0.636095,0.332039,0.014995,0.039826,0.069805,0.000000,0.000000,0.206364,0.000000,0.087508
75%,0.801837,0.897105,0.037019,0.543338,0.523771,0.023843,0.050636,0.800814,0.656461,0.169646
max,1.000000,1.000000,0.415334,1.000000,1.000000,0.883481,1.000000,1.000000,1.000000,0.488661

In [ ]:
df_final.to_csv("labels_classification.csv", index=False)